body{
  background:white;
  margin:0;
  padding:0;
  height:100%;
  
 
}

.App {
  text-align: center;
  
 
}

.app-feat{
  margin-left: 10px;
}

.node-div{
  background: #61dafb;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  height: 550px;
  color: white;
  width: 100%;
}

.touch-div{
  background: #0d4d22;;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  height: 550px;
  color: white;
  width: 100%;

}
.ruby-div{
  background: #ec3e3e;;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  height: 550px;
  color: white;
  width: 100%;
  margin-right: 25px;
  margin-top: 0px;
}

#weather-div{
  background: #9da32e;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  height: 550px;
  color: white;
  width: 100%;

}

.python-div{
  background: rgba(206, 91, 252, 0.836);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  height: 550px;

  color: white;
  width: 100%
}

.ang-div{
  background: #543;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  height: 550px;
  color: white;
  width: 100%;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

hr{
  margin-bottom: 30px;
}

.mapple-vid{
  
  margin-left: 15px;

}

.ruby-features{
  float:right;
}

.rd{
  width: 350px;
}

.r3{
  margin-right: 20px;
}
.rn3{
  margin-right: 390px;
}

.map{
  margin-top:50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
